Lecture 7.1 - Quantum Combinatorial Optimization.pdf
2025 봄 IonQ 리서치 멘토링 프로그램 계획서.hwpx
2025 봄 IonQ 리서치 멘토링 프로그램 안내서.pdf
2025 봄 IonQ 리서치 멘토링 프로그램 주간 보고서 양식.hwpx
CNOT개수최적화.pdf
coogam_puzzle_formulation.pdf
coogampuzzle.docx
